doctype html
html
  head
    title Sistema de Roles
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/css/styles.css")
  body
  body
    nav
      ul
        if role === 'admin'
          li: p Panel de Administración
        else if role === 'user'
          li: p Panel de Usuario
        li: a(href='/logout') Cerrar sesión

    block content